@font-face {
    font-family: Maincra;
    src: url("assets/fonts/Minecraft.ttf");
}
#debugger{
    position:fixed;
    left:0;
    top:0;
    z-index: 9;
    color: goldenrod;
    font-weight: bold;
    display: none;
}
body{
    margin: 0;
}
body #area{
    background-color: rgb(13,17,70);
    z-index: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    transition: 0.7s;
    transform: translate(-50%,-50%);
}
#game-stick{
    border:2px solid white;
    background-color:rgba(255,255,255,0.3);
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    left:5%;
    bottom:10%;
    height:120px;
    width:120px;
    pointer-events: none;
    display: none;
}
#game-stick .stick{
    border-radius: 50%;
    background-color: rgba(255,255,255,0.8);
    border:3px solid white;
    height:46px;
    width:46px;
    position: fixed;
    transform: translate(-50%,-50%);
}
.leaf-particle{
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-30%,-50%) scale(0);
    width: 36%;
    transition: 0.1s;
}
#timer{
    z-index: 10;
    position: fixed;
    right: 3%;
    margin-top: 0;
    top: 20px;
    font-family: Maincra;
    font-size: 46px;
    color: #EC0928;
    pointer-events: none;
}
#timer span{
    font-size: 24px;
    margin-left: 4px;
}
#pauseBtn{
    position: fixed;
    z-index: 9;
    top: 17px;
    left: 5%;
}
#pauseBtn img{
    width: 40px;
    float: left;
}
.img-play{
    display: none;
}
#weedCount{
    position: fixed;
    bottom: 20px;
    font-family: Maincra;
    font-size: 36px;
    color: #EC0928;
    z-index: 10;
    left: 3%;
}